* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(105, 137, 228);
    --secondary: rgba(88, 149, 177, 0.782);
    --tertiary: rgb(72, 87, 99);
    --dark: rgb(77, 74, 74);
    --light: rgba(255, 255, 255, 0.987);
    --darktheme: black;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary);
    background-color: var(--tertiary);
    /* line-height: 15vh; */
    width: 100%;
    height:100%;
}
main {
    background: linear-gradient(-45deg, #eebd52, #f36744, #12536b, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    line-height: 15vh;
    text-align: center;
    box-shadow: 0 5px 10px gray, 0 -5px 10px gray;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}
.hero {
    margin: 10% auto;
    max-width: 50%;
    /* text-align: center; */

  }
.navbar h1 {
    /* display: flex;
    align-items: center; */
    margin: 0 auto;
    padding-top: 20px;
    font-size: 7em;
    display: flex;
    flex-direction: row;
    font-family: Shippori Mincho B1, serif;
    flex-wrap: wrap;
    font-weight: none;
   
}
.home {
    max-width: 80%;
  }
  .home > h2 {
    font-family: Shippori Mincho B1, serif;
    margin-bottom: 20px;
    font-size: 3rem;
    margin: 0 auto;

  }

  .home a {
      margin-right: 40px;
      font-size: 3rem;
      border: 2px solid var(--secondary);
      border-radius: 25px;
      padding: 15px;
      background-color: var(--secondary);
      box-shadow: 2px 5px var(--tertiary);
  }
  @media screen and (max-width: 980px) {
   .navbar h1 {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
    
   .home> div {
      flex: 0 0 100%;
      align-items: center;
      
    }
    .home > div a {
      justify-content: center;
      font-size: 25px;
    }
  
   
  
  
    /* .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    } */
  }
  
  @media screen and (max-width: 768px) {
  
  
    .hero {
      justify-content: center;
      text-align: center;
      /* max-width: 50%; */
    }
    .navbar > h1 {
        font-size: 20vw;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .home {
       flex-direction: column;
      align-items: center;  
    }
  .home > h2 {
      font-size: 5vw;
  }
    .home > div {
     
      font-size: 10vw;
      margin-left: 30px;
    }
    .home > div a {
        flex-direction: column;
        align-items: flex-start;
        
    }
  }
  
