* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(105, 137, 228);
    --secondary: rgba(88, 149, 177, 0.782);
    --tertiary: rgb(72, 87, 99);
    --dark: rgb(77, 74, 74);
    --light: rgba(255, 255, 255, 0.987);
    --darktheme: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary);
    background-color: var(--tertiary);

}



header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(68, 133, 136, 0.4);
    height: 18vh;
}

header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;

    font-size: 3vw;
    line-height: 1;
    font-family: Poppins;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.2em;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

nav a:last-child {
    margin-right: 0;
}

main {
    background: linear-gradient(-45deg, #eebd52, #f36744, #12536b, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    line-height: 15vh;
    box-shadow: 0 5px 10px gray, 0 -5px 10px gray;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.title {
    text-align: center;
    font-size: 4em;
}



.wrapper {

    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.left-column .right-column {
    border: 1px solid white;

    min-height: 450px;
    color: white;
}

.left-column {
    width: 250px;

}

.right-column {
    width: 750px;
    margin-left: 40%;
}






@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        margin: 0 auto;
        text-align: center;

    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 10vw;
    }

    header nav {
        margin: 0 auto;
    }

    .p1 {
        flex-shrink: calc(50% - 1em);
        flex-direction: column;
        align-items: center;

    }



}

@media screen and (max-width: 768px) {

    nav a {
        font-size: 15px;
    }



    .title {
        font-size: 8vw;
    }

    .p1 {
        flex-shrink: calc(50% - 1em);
        /* flex-direction: column;
        align-items: center; */

    }


}

@media screen and (max-width: 667px) {
    nav a {
        font-size: .8em;
        flex-wrap: nowrap;
        justify-content: space-between;
    }



}